/* Table of contents

    1.0     RESETS AND VARIABLES
    2.0     DEFAULT STYLES
    3.0     COMPONENTS
        3.1     Navbar
            3.1.1   Current link styles
            3.1.2   Logo
        3.2     Hero Section


*/

/* 1.0 RESETS AND VARIABLES */
:root {
    --accent-colour: #372CA7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #EFEFEF;
}

/* 2.0 Default styles */

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1em;
    margin: 0;
    padding: 1em;
    padding-top: 2em;

}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1em;
    margin: 0;
    padding-bottom: 0.5em;
}

p {
    font-size: 1.25rem;
    line-height: 1.7em;
    letter-spacing: -0.02em;
}

.centered {
    text-align: center;
    margin: auto;
    margin: auto;
}

/* COMPONENTS */
/* 3.1 Navbar */

nav {
    width: 100%;
    font-size: 1.125rem;
    border-bottom: 1px solid #D1D1D1;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

ul li{
    font-weight: 600;
}

ul li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

ul li a:not(.logo) {
    color: #4F4F4F;
    padding: 1rem 4rem 1rem 1rem;
}

ul li a:hover:not(.logo) {
    text-decoration: underline;
}

/* 3.1.1 Current link styles */
/* underline on current link */
.currentPage:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    height: 3px;
    width: 25%;
    background: var(--accent-colour);
}

.currentPage {
    color: black;
}

/* 3.1.2 Logo */
.logo {
    font-family: 'Carter One', cursive;
    font-size: 1.625rem;
    letter-spacing: -0.04em;
    font-weight: normal;
    padding-left: 1rem;
    padding-right: 4rem;
    color: black;
}

/* Hero section */


.imagecontainer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 80px 60px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    border-radius: 3rem;
}

main {
    background-color: white;
    margin-top: -50vh;
    padding-top: 50vh;    
}

.mainContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 150ch;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* Underline decoration */

.pynt {
    position: relative;
}
.pynt:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 2ch;
    height: 0.5rem;
    background-color: var(--accent-colour);
    border-radius: 50rem;
}