/* 1.0 RESETS */

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 8rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

/* 2.0 Global styles */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1em;
    margin: 0;
    padding-top: 2em;

}

/* 3.2 Underline decoration for headers */

.pynt {
    position: relative;
}

.pynt:after {
    position: absolute;
    content: "";
    left: 8ch;
    bottom: 0;
    width: 2ch;
    height: 0.8rem;
    background-color: #014c51;
    border-radius: 50rem;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1em;
    margin: 0;
    padding-bottom: 0.5em;
    position: relative;
    color: #010101;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1em;
}

p {
    font-size: 2rem;
    line-height: 1.7em;
    letter-spacing: -0.02em;
}

.centered {
    text-align: center;
    margin: auto;
}


/* Standard padding for divs/sections containing text */
/* Selects the first element in the div and adds padding to top */
.standard-padding > *:first-child {
    padding-top: 3rem;
}

/* Selects the last element in the div and adds padding to bottom */
.standard-padding > *:last-child {
    padding-bottom: 3rem;
}

/*  MEDIA QUERY
    Global styles on mobile
*/

@media (max-width: 600px) {
    
    :root {
        font-size: 50%;
    }
    
}

/* GLOBAL COMPONENTS */
/* 3.1 Navbar */

.nav {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    background-image: linear-gradient(to top, #014c51, #003539);
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 0.3rem solid #efefef;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
}

.nav ul li{
    font-weight: 600;
}

.nav ul li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav ul li a:not(.logo) {
    color: #efefef;
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
}

.nav ul li a:hover:not(.logo) {
    text-decoration: underline;
}

/* 3.1.1 Current link styles */
/* underline on current link */
.currentPage:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    height: .6rem;
    background: #efefef;
    border-radius: 10rem 10rem 0 0;
}
/* Slightly darker text on current link */
.currentPage {
    color: black;
}

/* 3.1.2 Logotype */
.logo {
    font-family: 'Carter One', cursive;
    font-size: 2.6rem;
    letter-spacing: -0.04em;
    font-weight: normal;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    color: #efefef;
}

/* 3.3 Jump to main content button */
.jump-to-main {
    left: -99rem;
    position: absolute;
} 

.jump-to-main:focus, .jump-to-main:active {
    color: #014c51;
    background-color: #efefef;
    text-decoration: none;
    padding: .8rem 2.4rem;
    border-radius: 0 0 1.6rem 1.6rem;
    margin-right: 1.6rem;
    display: inline-block;
    right: 2rem;
    left: auto;
}

/* Media queries */

@media only screen and (max-width: 500px) {
    .nav ul {
        flex-wrap: wrap;
    }

    .nav ul li:nth-child(n+2) {
        flex-grow: 1;
    }

    .nav ul li a:not(.logo) {
        padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    }

    .logo {
        flex-shrink: 0;
        width: 100vw;
        padding: 0;
        font-size: 2rem;
        border-bottom: 1px solid #618284;
    }
}

/* 4.0 LANDING PAGE COMPONENTS */

/* 4.1 Hero section */

.header__h1 {
    max-width: 30ch;
    padding-top: 8rem;
    padding-bottom: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    line-height: 7rem;
}

.header__p {
    font-size: 3rem;
    letter-spacing: .1rem;
}

.hero {
    text-align: center;
}

.header-container {
    width: 100%;
    background-image: linear-gradient(to top, #ddd, #eee);
    padding-top: 15rem;
    margin-top: -15rem;
    padding-bottom: 35rem;
    margin-bottom: -35rem;
}


.imagecontainer {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.heroImage {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    border-radius: 4.8rem;
}

/* App Showreel */

#showreel-container {
    position: relative;
}

.showreel__picture {
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    background-color: #014c51;
}

#empty {
    opacity: 0;
}

#shadow {
    box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.2);
}

#picture1 {
    animation: showreel 17.5s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    z-index: 14;
}

#picture2 {
    animation: showreel 17.5s;
    animation-iteration-count: infinite;
    animation-delay: 3.5s;
    z-index: 13;
}

#picture3 {
    animation: showreel 17.5s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
    z-index: 12;
}

#picture4 {
    animation: showreel 17.5s;
    animation-iteration-count: infinite;
    animation-delay: 10.5s;
    z-index: 11;
}

#picture5 {
    animation: showreel 17.5s;
    animation-iteration-count: infinite;
    animation-delay: 14s;
    z-index: 10;
}

/* 4.2 Main (of landing page) */

.left-grid-column {
    position: relative;
}

.climate-goal {
    width: 15rem;
    position: absolute;
    top: 2rem;
    right: 5rem;
}

.climate-goal-hidden {
    width: 15rem;
    float: right;
    margin: 0 auto 0 3rem;
    position: absolute;
    left: -99rem;
}

.mainContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 240ch;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.section-styling {
    margin: 2rem auto;
    background-color: #fff;
    /*
    border-radius: 2.5rem;
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,0.2);;
    border: .5rem solid #477D81;
    */
    padding: 2rem 4rem;
    margin-bottom: 10rem;
}

.section--environment {
    background-image: linear-gradient(to bottom,#efefef, #014c5146, #014c517c, #efefef), url(../../images/Rainforest.jpg);
    background-size: cover;
    background-position: bottom;
}

.minimized {
    color: rgb(102, 102, 102);
    font-size: 1rem;
}

.minimized:hover {
    font-size: 2rem;
    margin: 1rem;
}

.minimized__container:hover {
    border-radius: 2.5rem;
    box-shadow: 0 .2rem #DDD;
    border: .1rem solid #DDD;
    
}


.btn--main:link, .btn--main:visited {
    color: #fff;
    background-color: #014c51b9;
}

.btn--main:hover, .btn--main:active {
    background-color: #014c51e5;
    animation: fillBtn .5s;
}

.arrow {
    border: solid #fff;
    border-width: 0 .3rem .3rem 0;
    display: inline-block;
    padding: .3rem;
}

.right {
    transform: rotate(-45deg);
}

/* Animations */

@keyframes fillBtn {
    0% {
        background-color: #014c51b9;
    }
    100% {
        background-color: #014c51e5;
    }
}

@keyframes showreel {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }   
    23% {
        opacity: 0;
    }
    94% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */

@media (max-width: 1450px) {


    .heroImage {
        border-radius: 3.75rem;
        width: 25%;
    }

    .climate-goal-hidden {
        position: static;
        width: 12rem;
    }

    .climate-goal {
        position: absolute;
        left: -99rem;
    }

}

@media (max-width: 1200px) {


    .climate-goal {
        width: 13rem;
    }

    .heroImage {
        border-radius: 3rem;
        width: 30%;
    }

    .mainContent {
        grid-template-columns: 1fr 8fr 1fr;
    }

    .header__h1 {
        font-size: 4rem;
    }

    .header__p {
        font-size: 2.5rem;
    }
}

@media (max-width: 900px) {

    .section-styling {
        padding: 2rem 3rem;
        margin-bottom: 7.5rem;
    }

    .heroImage {
        border-radius: 2rem;
    }

    #shadow {
        box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
    }

    .header-container {
        padding-bottom: 28rem;
        margin-bottom: -28rem;
    }

    .mainContent {
        grid-template-columns: 1fr 10fr 1fr;
    }

    .header__h1 {
        font-size: 3.5rem;
    }

    .header__p {
        font-size: 2rem;
    }

    .button-center-wrapper {
        text-align: center;
    }
}

@media (max-width: 600px) {

    .mainContent {
    grid-template-columns: 1fr 20fr 1fr;
    }

    .climate-goal-hidden {position: static;}

    .climate-goal {
        position: absolute;
        left: -99rem;
    }

    .header-container {
        padding-bottom: 25rem;
        margin-bottom: -25rem;
    }


    .heroImage {
        border-radius: 1.5rem;
        width: 35%;
    }

    .header__h1 {
        line-height: 4rem;
    }

    
}

@media (max-width: 400px) {

    .section-styling {
        margin-bottom: 5rem;
    }

    .heroImage {
        border-radius: 1rem;
        width: 45%;
    }

    .header-container {
        padding-bottom: 22rem;
        margin-bottom: -22rem;
    }

    
}

/* 5.0 APP PAGE COMPONENTS */

/* 5.1 Main */
.main-app-page {
    width: 100%;
}

/* 5.2 Container for squares */

.main-grid-container {
    margin: 2rem auto;
    max-width: 140rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 5px #DDD;
    border: 2px solid #DDD;
}

/* 5.3 Left square */

.grid-col-left {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.preview-image {
    display: block;
    margin: auto;
    box-shadow: 5px 5px 20px grey;
    border-radius: 15px;
    width: 60%;
}

/* 5.4 Right square */

.grid-col-right {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;   
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-col-right > * {
    max-width: 65rem;
    margin: 0 1.6rem;
}

.grid-col-right > h2 {
    font-size: 6rem;
}


/* 5.4.1 Progress graphic container */

.progress-graphic {     
    height: 2rem;
    width: 30%;
    max-width: 48rem;
    margin: 0;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 12%;
    display: flex;

    align-items: center;
}

/* 5.4.2 Progress graphic indicators and line */

.progress-indicator {
    height: 100%;
    flex-basis: 2rem;
    flex-grow: 0;
    border-radius: 50%;
    border: .3rem solid black;
    box-sizing: border-box;
}

.full {
    background-color: black;
}

.progress-line {
    height: .3rem;
    background-color: black;
    flex-grow: 1;
}

/* 5.5 Bottom box */

.app-page-bottom-content {
    max-width: 140rem;
    margin: auto;
}

/* 5.6 Summary */

.app--page--summary {
    margin: auto;
    max-width: 140rem;
    background-color: white;
    border: 2px solid #DDD;
}

.app--page--summary > * {
    padding: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

.app--page--summary h1 {
    padding-bottom: 2rem;
}

/* 5.7 Responsive */

@media only screen and (max-width: 900px) {
    
    .main-grid-container {
        grid-template-columns: 1fr;
        border: none;
        border-radius: 0px;
    }

    .grid-col-left {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .preview-image {
        max-width: 50%;
    }

    .grid-col-right {
        padding-top: 0rem;
        padding-bottom: 12rem;   
    }

    .progress-graphic {     
        width: 60%;
        bottom: 8%;
    }

    .grid-col-right h2 {
        text-align: center;
        font-size: 4rem;
    }

    .grid-col-right > p {
        margin: 0 3rem;
    }

    .app--page--summary h1 {
        font-size: 4rem;
    }
    
}

.centered__footer {
    text-align: center;
    display: block;
    height: 10rem;
    background-image: linear-gradient(to top, #014c51, #003539); 
}

.btn--sources:link, .btn--sources:visited {
    background-color: #fff;
    color: #014c51;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn:link, .btn:visited {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 600;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
}

footer .btn {
    margin-bottom: 3rem;
}

/* 7 App div for landing page */

/* Container */
.app-div-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
}

/* Top part and contents */

.app-div-image {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 0;
    border-radius: 1.5rem;
    border: .2rem solid #CCC;
    box-shadow: 0px 5px 10px #ccc;
}



/* Bottom part and contents */
.app-div-card-bottom {
    padding: 1rem;
    padding-bottom: 2rem;
}

.app-div-card-bottom h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.app-div-card-bottom p {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .app-div-image {
        border-radius: 1.2rem;
        width: 60%;
    }
}

@media (max-width: 900px) {
    .app-div-card-bottom {
        grid-column: span 4;
        padding-bottom: 0;
    }

    .app-div-card-bottom h3 {
        text-align: left;
    }

    .app-div-image {
        border-radius: 1rem;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .app-div-container {
        display: none;
    }
    
}

/* 8.1 Main */

.main-vision-page {
    width: 100%;
}

/* 8.3 Boxes/sections in container */

.vision-content {
    max-width: 105rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 3rem;
    border-radius: 25px;
    box-shadow: 0px 5px #DDD;
    border: 2px solid #DDD;
}

.vision-content-header {
    border-radius: 0px;
    box-shadow: none;
}

.vision-content > * {
    padding-left: 3rem;
    padding-right: 3rem;
}

.vision-content h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.vision-content h2 {
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 3rem;
}

.vision-inside-content {
    margin-left: auto;
    margin-right: auto;
}

/* 8.4 Images */

.pollution-img {
    padding: 1rem 3rem 3rem 4rem;
    float: right;
}

.pollution-img {
    border-radius: 10px;
}

/* 8.5 Responsive */

@media (max-width: 1000px){
    .pollution-img img{
        width: 420px;
    }
}

@media (max-width: 900px){
    .vision-content, .vision-page-header {
        border: none;
        border-radius: 0px;
    }
}

@media (max-width: 820px){
    .pollution-img img{
        width: 350px;
    }
}

@media (max-width: 700px){
    .pollution-img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 68vw;
        padding: 0;
        padding-bottom: 2rem;
    }

    .vision-page-header {
        text-align: center;
        margin: 2rem auto 2rem auto;
    }

    .vision-content h2, h1 {
        text-align: center;
    }

    .vision-content h1 {
        font-size: 4rem;
    }

    .vision-content h2 {
        font-size: 3rem;
    }

    .vision-content p {
        width: 100%;
        box-sizing: border-box;
    }
}

/* 9.1 Main */

.main-sources-page {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* 9.2 Header */

.sources-page-header {
    max-width: 140rem;
    margin: 0 auto 3rem auto;
    padding: 0;
    background-color: white;
    box-shadow: 0px 5px #DDD;
    border: 2px solid #DDD;
    border-radius: 25px;
}

.sources-page-header h1 {
    padding: 3rem 3rem;
}

/* 9.3 Container */

.sources-container {
    margin: auto;
    max-width: 140rem;
    background-color: white;
    box-shadow: 0px 5px #DDD;
    border: 2px solid #DDD;
    border-radius: 25px;
}

/* 9.4 Reference-list */

.reference-list {
    padding: 0 3rem 0 5rem;
}

.link-break {
    word-break: break-all;
}

.reference-list li {
    font-size: 2rem;
    line-height: 1.7em;
    letter-spacing: -0.02em;
    margin: 3rem 0;
}

/* 9.5 Responsive */

@media (max-width: 900px){
    .sources-page-header, .sources-container {
        border: none;
        border-radius: 0px;
    }
}