/* 1.0 RESETS AND VARIABLES */
:root {
    font-size: 62.5%;
    --accent-colour: #372CA7;
    --colour-primary: #003539;
    --colour-secondary: #014c51;
    /*--colour-tertiary: #ece8c3;*/
    --colour-secondary-light:  #2dcedab9;
    --colour-background:  #40d9e4d2 ;
    /* --colour-mixin: #e2fbfda1 */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}