/* 1.0 RESETS AND VARIABLES */
:root {
    font-size: 62.5%;
    --accent-colour: #372CA7;
    --colour-primary: #003539;
    --colour-secondary: #014c51;
    --colour-tertiary: #ece8c3;
    --colour-secondary-light:  #2dcedab9;
    --colour-background:  #40d9e4d2 ;
    --colour-button-light:  #014c51b9;
    --colour-button-dark: #014c51e5;
    --colour-background-light: #014c5146;
    --colour-background-dark: #014c517c;
    /* --colour-mixin: #e2fbfda1 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 8rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}