/* 2.0 Global styles */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1em;
    margin: 0;
    padding: 1em;
    padding-top: 2em;

}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1em;
    margin: 0;
    padding-bottom: 0.5em;
    position: relative;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1em;
}

p {
    font-size: 2rem;
    line-height: 1.7em;
    letter-spacing: -0.02em;
}

.centered {
    text-align: center;
    margin: auto;
}

/*  MEDIA QUERY
    Global styles on mobile
*/

@media (max-width: 60rem) {
    
    /* skal tilsvare 16px*/
    :root {
        font-size: 50%;
    }
    
}