/* GLOBAL COMPONENTS */
/* 3.1 Navbar */

.nav {
    width: 100%;
    font-size: 1.8rem;
    border-bottom: .1rem solid #D1D1D1;
    text-align: center;
    background-color: #EFEFEF;
    position: fixed;
    z-index: 99;
    top: 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
}

.nav ul li{
    font-weight: 600;
}

.nav ul li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav ul li a:not(.logo) {
    color: #4F4F4F;
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
}

.nav ul li a:hover:not(.logo) {
    text-decoration: underline;
}

/* 3.1.1 Current link styles */
/* underline on current link */
.currentPage:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    height: .5rem;
    background: var(--accent-colour);
}
/* Slightly darker text on current link */
.currentPage {
    color: black;
}

/* 3.1.2 Logotype */
.logo {
    font-family: 'Carter One', cursive;
    font-size: 2.6rem;
    letter-spacing: -0.04em;
    font-weight: normal;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    color: black;
}

/* 3.3 Jump to main content button */
.jump-to-main {
    left: -99rem;
    position: absolute;
} 

.jump-to-main:focus, .jump-to-main:active {
    color: black;
    background-color: #fff;
    text-decoration: none;
    padding: 1.6rem 4.8rem;
    border-radius: 0 0 1.6rem 1.6rem;
    margin-bottom: 1.6rem;
    display: inline-block;
    position: static;
    border: 5px solid darkred;
    border-top: none;
}

@media only screen and (max-width: 500px) {
    .nav ul {
        flex-wrap: wrap;
    }

    .nav ul li:nth-child(n+2) {
        flex-grow: 1;
    }

    .nav ul li a:not(.logo) {
        padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    }

    .logo {
        flex-shrink: 0;
        width: 100vw;
        padding: 0;
        font-size: 2rem;
        border-bottom: 1px solid #D1D1D1;
    }
}