/* 4.0 LANDING PAGE COMPONENTS */

/* 4.1 Hero section */
.header__h1 {
    max-width: 30ch;
    font-size: 5rem;
}

.header__p {
    font-size: 3rem;
}

.hero {
    text-align: center;
}


.imagecontainer {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.heroImage {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8rem 6rem rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    border-radius: 4.8rem;
    border: .4rem solid #CCC;
}

/* 4.2 Main (of landing page) */

.left-grid-column {
    position: relative;
}

.climate-goal {
    width: 15rem;
    position: absolute;
    top: 2rem;
    right: 5rem;
}

.climate-goal-hidden {
    width: 15rem;
    float: right;
    margin: 0 auto 0 3rem;
    position: absolute;
    left: -99rem;
}

.main-landingpage {
    margin-top: -50vh;
    padding-top: 50vh;    
}

.mainContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 240ch;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.mainContent p {
    color: var(--colour-secondary);
}

.section-styling {
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 2.5rem;
    box-shadow: 0 .5rem #DDD;
    border: .2rem solid #DDD;
    padding: 2rem 4rem;
    margin-bottom: 15rem;
}

.section--environment {
    background-image: linear-gradient(to bottom, var(--colour-background-light), var(--colour-background-dark), #efefef), url(../../images/Rainforest.jpg);
    background-size: cover;
    background-position: bottom;
}

.minimized {
    color: rgb(102, 102, 102);
    font-size: 1rem;
}

.minimized:hover {
    font-size: 2rem;
    margin: 1rem;
}

.minimized__container:hover {
    border-radius: 2.5rem;
    box-shadow: 0 .2rem #DDD;
    border: .1rem solid #DDD;
    
}

.btn--main:link, .btn--main:visited {
    color: #fff;
    background-color: var(--colour-button-light);
}

.btn--main:hover, .btn--main:active {
    background-color: var(--colour-button-dark);
    animation: fillBtn .5s;
}

.arrow {
    border: solid #fff;
    border-width: 0 .3rem .3rem 0;
    display: inline-block;
    padding: .3rem;
}

.right {
    transform: rotate(-45deg);
}

/* Animations */

@keyframes fillBtn {
    0% {
        background-color: var(--colour-button-light);
    }
    100% {
        background-color: var(--colour-button-dark);
    }
}

/* Media Queries */

@media (max-width: 1450px) {


    .heroImage {
        border-radius: 3.75rem;
    }

    .climate-goal-hidden {
        position: static;
        width: 12rem;
    }

    .climate-goal {
        position: absolute;
        left: -99rem;
    }

}

@media (max-width: 1200px) {


    .climate-goal {
        width: 13rem;
    }

    .heroImage {
        border-radius: 3rem;
    }

    .mainContent {
        grid-template-columns: 1fr 8fr 1fr;
    }

    .header__h1 {
        font-size: 4rem;
    }

    .header__p {
        font-size: 2.5rem;
    }
}

@media (max-width: 900px) {

    .section--styling {
        padding: 2rem 3rem;
    }

    .heroImage {
        border-radius: 2rem;
    }

    .mainContent {
        grid-template-columns: 1fr 10fr 1fr;
    }

    .header__h1 {
        font-size: 3.5rem;
    }

    .header__p {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    

    .mainContent {
    display: block;
    margin: 0 3rem;
    }

    .climate-goal-hidden {position: static;}

    .climate-goal {
        position: absolute;
        left: -99rem;
    }

    .heroImage {
        border-radius: 1.5rem;
    }
}

@media (max-width: 400px) {

    .heroImage {
        border-radius: 1rem;
    }
}