/* 5.0 APP PAGE COMPONENTS */

/* 5.1 Main */
.main-app-page {
    width: 100%;
}

/* 5.2 Container for squares */

.main-grid-container {
    margin: 3.2rem auto 3.2rem;
    max-width: 120rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5%;
}

/* Direct children of container style */
.main-grid-container > div {
    background-color: white;
    height: 70vh;
}

/* 5.3 Left square */

.grid-col-left {
    display: flex;
}

.preview-image-step1 {
    display: block;
    margin: auto;
    height: 70%;
    border-radius: 3rem;
    box-shadow: .5rem .5rem 2rem grey;
}

/* 5.4 Right square */

.grid-col-right {
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-col-right > * {
    max-width: 48rem;
    margin: 0 1.6rem;
}

/* 5.4.1 Progress graphic container */

.progress-graphic {     
    height: 2rem;
    width: 30%;
    max-width: 48rem;
    margin: 0;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 15%;
    display: flex;

    align-items: center;
}

/* 5.4.2 Progress graphic indicators and line */

.progress-indicator {
    height: 100%;
    flex-basis: 2rem;
    flex-grow: 0;
    border-radius: 50%;
    border: .3rem solid black;
    box-sizing: border-box;
}

.full {
    background-color: black;
}

.progress-line {
    height: .3rem;
    background-color: black;
    flex-grow: 1;
}
