/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.centered__footer {
    text-align: center;
    display: block;
    height: 10rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#014c51), to(#003539));
    background-image: -o-linear-gradient(bottom, #014c51, #003539);
    background-image: linear-gradient(to top, #014c51, #003539); 
}

.btn--sources:link, .btn--sources:visited {
    background-color: #fff;
    color: #014c51;
}

.btn:hover {
    -webkit-transform: translateY(-.3rem);
        -ms-transform: translateY(-.3rem);
            transform: translateY(-.3rem);
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
            box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    margin-bottom: 0rem;
}

.btn:active {
    -webkit-transform: translateY(-.1rem);
        -ms-transform: translateY(-.1rem);
            transform: translateY(-.1rem);
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn:link, .btn:visited {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 600;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
}

footer .btn {
    margin-bottom: 3rem;
}