.centered__footer {
    text-align: center;
    display: block;
    height: 10rem;
    background-image: linear-gradient(to top, var(--colour-secondary), var(--colour-primary)); 
    /*var(--colour-secondary);*/
    
}

.btn--sources:link, .btn--sources:visited {
    background-color: #fff;
    color: var(--colour-secondary);
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn:link, .btn:visited {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 600;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
}

footer .btn {
    margin-bottom: 3rem;
}