/* 8.1 Main */

.main-vision-page {
    width: 100%;
}

/* 8.2 Boxes/sections in container */

.vision-content {
    max-width: 105rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 3rem;
    border-radius: 25px;
    box-shadow: 0px 5px #DDD;
    border: 2px solid #DDD;
}

.vision-content-header {
    border-radius: 0px;
    box-shadow: none;
}

.vision-content > * {
    padding-left: 3rem;
    padding-right: 3rem;
}

.vision-content h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.vision-content h2 {
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 3rem;
}

.vision-inside-content {
    margin-left: auto;
    margin-right: auto;
}

/* 8.3 Images */

.pollution-img {
    padding: 1rem 3rem 3rem 4rem;
    float: right;
}

.pollution-img {
    border-radius: 10px;
}

/* 8.4 Responsive */

@media (max-width: 1000px){
    .pollution-img img{
        width: 420px;
    }
}

@media (max-width: 900px){
    .vision-content, .vision-page-header {
        border: none;
        border-radius: 0px;
    }
}

@media (max-width: 820px){
    .pollution-img img{
        width: 350px;
    }
}

@media (max-width: 700px){
    .pollution-img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 68vw;
        padding: 0;
        padding-bottom: 2rem;
    }

    .vision-page-header {
        text-align: center;
        margin: 2rem auto 2rem auto;
    }

    .vision-content h2, h1 {
        text-align: center;
    }

    .vision-content h1 {
        font-size: 4rem;
    }

    .vision-content h2 {
        font-size: 3rem;
    }

    .vision-content p {
        width: 100%;
        box-sizing: border-box;
    }
}