/* 9.1 Main */

.main-sources-page {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* 9.2 Header */

.sources-page-header h1 {
    padding: 3rem 3rem;
}

/* 9.3 Container */

.sources-container {
    margin: auto;
    max-width: 105rem;
    margin-bottom: 3rem;
    background-color: white;
    box-shadow: 0px 5px #DDD;
    border: 2px solid #DDD;
    border-radius: 12px;
}

/* 9.4 Reference-list */

.reference-list {
    padding: 0 3rem 0 5rem;
    max-width: 82%;
}

.link-break {
    word-break: break-all;
}

.reference-list li {
    font-size: 2rem;
    line-height: 1.7em;
    letter-spacing: -0.02em;
    margin: 3rem 0;
}

.reference-list a {
    color: inherit;
}

/* 9.5 Responsive */

@media (max-width: 700px) {
    .reference-list {
        max-width: none;
    }
}