body {
    margin: 0;
}

@keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.menu-links {
    opacity: 0;
}

nav:target {
    display: flex;
    flex-direction: column;
}

nav:target .menu-links {
    opacity: 1;
    animation: pulse 0.3s;
}

.topbar {
    display: flex;
    background: #ccc;
    height: 5vh;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.topbar a {
    padding-left: 1em;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.menu-links {
    height: 95vh;
    width: 100%;
    position: fixed;
    top: 5vh;
    background: rgba(0, 0, 0, 0.3)
}

main {
    padding: 1em;
    padding-top: 5vh;
}