body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    padding-bottom: 100vh;
    position: relative;
    min-height: 100vh;
    padding-top: 10vh;
}

.jump {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #eee;
    position: fixed;
    top: 0;
    border-bottom: 2px solid grey;
}

.jump a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.jump a:hover {
    text-decoration: underline;
}

#menu {
    display: flex;
    flex-direction: column;
    background-color: #333;
    height: 100vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu-jumpback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid #666;
}

.menu-jumpback a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu-jumpback a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #cc0;
    color: black;
}

.menutext {
    font-size: 2rem;
    padding-bottom: 1em;
    color: #cc0;
    font-weight: bold;
}

main {
    padding: 1rem;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.5em;
}